body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}


.clock{
    width: 600px;
    height:600px;
     background-color: rgba(255,255,255,.8);
    border-radius: 50%;
    border: solid 10px  ; 
    position: relative;
}
.number{
    --rotation:0;
    position: absolute;
    width:100%; 
     height: 100%; 
     font-weight: bold;
     font-size: 50px;
     text-align: center; 
    transform: rotate(var(--rotation)); 
     /* background-color: red; */
}
.number1{--rotation:30deg}
.number2{--rotation:60deg}
.number3{--rotation:90deg}
.number4{--rotation:120deg}
.number5{--rotation:150deg}
.number6{--rotation:180deg}
.number7{--rotation:210deg}
.number8{--rotation:240deg}
.number9{--rotation:270deg}
.number10{--rotation:300deg}
.number11{--rotation:330deg}

.hand{
    --rotation:0;
    position: absolute;
    bottom:50%;
    left:50%;
    background-color: #000;
    border:1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.second{
    width:3px;
    height:47%;
    background-color: red;
}

.minute{
    width:5px;
    height:40%;
    background-color: #000;
}

.hour{
    width:10px;
    height:40%;
    background-color:#000;
}

.clock::after{
    content: ' ';
    position: absolute;
    background-color: #000;
    z-index:11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-10%);
    border-radius: 50%;
}